.__footer {
    width: 90%;
    border-top: 2px solid $light-gray;
    border-bottom: 2px solid $light-gray;
    margin-bottom: 35px;
    @media (max-width: 800px) {
        display: none;
    }
    
    &_contact {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 120px;
        padding-left: 30px;
        padding-right: 30px;

        &_text {
            margin-right: 20px;
            color: $greyish-brown;
            font-size: 18px;
        }

    }

    &_linksContainer {
        display: flex;
        flex-direction: row;
        border-top: 2px solid $light-gray;
        height: 50px;
        align-items: center;
        padding-left: 30px;
        padding-right: 30px;
        justify-content: space-between;;

        &_text {
            color: $greyish-brown;
            font-size: 13px;
            flex-grow: 1;
            flex-basis: 0;
        }

        &_link {
            margin-right: 20px;
            font-size: 13px;
            text-decoration: none;
            color: $greyish-brown;
        }

        &_icons {
            flex-grow: 1;
            flex-basis: 0;
            display: flex;
            justify-content: flex-end;
        }

        &_icon {
            margin-right: 10px;
            cursor: pointer;

        &:active {
            opacity: 0.7;
        }
        }
    }
}