.__header {
    display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  width: 100%;
  
  &_logo{
    margin-left: 35px;
  }

  &_contactContainer {
    margin-right: 35px;

  }
}