.__stepsViewMobile {
    display: flex;
    flex-direction: column;
    padding-left: 14px;
    padding-right: 14px;

    &_item {
        display: flex;
        flex-direction: column;


        &_header {
            display: flex;
            flex-direction: row;
            height: 90px;
            padding-top: 20px;

            & img {
                width: 42px;
                height: 42px;
                margin-right: 13px;

            }
            &_textContainer {
                display: flex;
                flex-direction: column;
                width: 80%;

                & span:nth-child(1) {
                    font-size: 18px;
                    color: $greyish-brown;
                    margin-bottom: 15px;
                }
                & span:nth-child(2) {
                    font-size: 14px;
                    color: $warm-grey;
                }
            }
        }

        &_image {
            width: 100%;
            object-fit: contain;
            margin-top: 10px;
        }

    }
}