.__stepsView {
    display: flex;
    flex-direction: column;
    width: 70%;
    // min-width: 900px;
    margin-top: -380px;
    @media (max-width: 1000px) {
        width: 90%;
    margin-top: 0px;

    }
    

    &_header {
        display: flex;
        flex-direction: row;
    } 

    &_image {
        object-fit: contain;
        width: 100%;
    }
}