// colors
$cerulean: #008bcf;
$greyish-brown: #4a4a4a;
$warm-grey: #9b9b9b;
$white: #ffffff;
$cool-grey: #a7acae;
$light-gray: #e5e5e5;

//fonts
.lato-regular {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
.lato-light {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
.lato-black {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}
.lato-bold {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}